// Specific CSS for your home-page
#home{
  h1, h2, h3{
    color: $white;
    font-family: "Oswald", sans-serif;
    font-size: 65px;
    margin: 0px;
  }

  hr{
    color: white;
  }

  p{
    color: $white;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    margin: 0px;
  }

  .logo{
    font-size: 65px;
    color: white;
    text-shadow: 1px 1px 1px white;
  }

  .info-card{
    text-align: center;

    p{
      margin-top: 24px  ;
    }
  }

  .info-card-links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 95px;

    .link{
      background-color: transparent;
      text-align: center;
      text-decoration: none;

      padding: 25px;
      border-radius: 50px;
      width: 150px;
    }

    .link-red{
      border: #c51f5d solid 1px;
      color: #c51f5d;

    }

    .link-red:hover{
      background-color: #c51f5d;
      color: white;

    }

    .link-green{
      border: #00a99d solid 1px;
      color: #00a99d;

    }

    .link-green:hover{
      background-color: #00a99d;
      color: white;
    }

  }
}
