// Specific CSS for your home-page
#home{
  h1, h2, h3{
    color: $white;
    font-family: "Oswald", sans-serif;
    font-size: 65px;
    margin: 0px;
  }

  hr{
    color: white;
  }

  p{
    color: $white;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    margin: 0px;
  }

  .logo{
    font-size: 65px;
    color: white;
    text-shadow: 1px 1px 1px white;
  }

  .info-card{
    text-align: center;

    p{
      margin-top: 24px  ;
    }
  }

  .info-card-links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 95px;
  }
}
