#instruction{
  .modal-header{
    .modal-title{
      color: white;
      font-family: "Oswald", sans-serif;
    }
  }

  .modal-body{
    color: white;
    overflow: scroll;
    height: 450px;

    h3{
      font-family: "Hind", sans-serif;
    }
  }
}

.modal-body::-webkit-scrollbar {
  width: 12px;
  height: 45px;
}

.modal-body::-webkit-scrollbar-track {
  background: transparent;
}

.modal-body::-webkit-scrollbar-thumb {
  background-color: rgb(28, 27, 27);
  border-radius: 15px;
}
