#nav{
  box-shadow: 1px 1px 1px #243447;

  .navbar-brand{
    font-family: "Oswald", sans-serif;
    font-size: 35px;
  }
  .nav-item{
    margin: 20px;
  }

  .user{
    font-family: "Hind", sans-serif;
    span{
      color: white;
    }
  }

}
